html {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    --form-width: 35em;
}

body {
    position: fixed;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 100%);
}


/* to complete this project while using the 1080x792 res */

main {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin: 0 15em;
    top: 15%;
}

article {
    position: relative;
    width: 38%;
}

article > p {
    text-align: left;
    line-height: 2em;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 120%;
}

section {
    margin: 0;
    display: absolute;
}

#form-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--form-width);
}

#try-it {
    width: var(--form-width);
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 5px #999999;
    padding: 1em 0;
}

#try-it > span {
    font-weight: 700;
}

#form {
    background-color: hsl(0, 100%, 100%);
    color: black;
    border-radius: 0.5em;
    width: var(--form-width);
    margin: 0;
    margin-top: 1.5em;
    min-height: 30em;
    box-shadow: 0 5px #999999;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.form-field {
    margin: 0;
    margin-top: 1.5em;
}

input {
    margin: 0;
    width: 32em;
    padding: 1.1em 1.5em;
    border-radius: 0.25em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: 2px solid hsl(246, 25%, 77%);
}

#button {
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 100%, 100%);
    text-align: center;
    border-radius: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    width: 29.25em;
    padding: 0.75em 0;
    margin: 1.5em 0;
    box-shadow: 0 2px hsl(246, 25%, 77%);
}

#form > footer {
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 0.75em;
    color: hsl(246, 25%, 77%);
}

#terms {
    color:hsl(0, 100%, 74%);
    font-weight: 600;
}

#attribution {
    position: absolute;
    bottom: 0;
}

::placeholder {
    color: var(--c, hsl(246, 25%, 77%));
  }

@media screen and (max-width: 375px) {
    body {
        background-image: url('/images/bg-intro-mobile.png');
        display: grid;
        place-items: center;
        min-height: 0;
        overflow: scroll;
    }

    main {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        top: 0;
        top: 2em;
        margin-bottom: 2em;
        min-height: 0;
        overflow: scroll;
    }

    article {
        text-align: center;
        margin: 0;
        width: 18em;
        padding: 0 2em;
    }

    article > h1 {
        font-size: 1.56em;
        font-weight: 700;
    }

    article > p {
        text-align: center;
        font-size: 0.9em;
        font-weight: 500;
    }

    #try-it {
        width: 18em;
    }

    #form {
        margin: 0;
        margin-top: 2em;
        width: 18em;
        margin-bottom: 5em;
    }

    input {
        padding: 1em 1.5em;
        border-radius: 0.25em;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        width: 15em;
        border: 2.5px solid hsl(246, 25%, 77%);
    }

    #button {
        width: 15.23em;
    }

    #attribution {
        margin: 0;
    }
}